.alert-danger {
    color: #f86c6b !important;
    background-color: transparent !important;
    border-color: transparent !important;
    position: absolute !important;
    top: 217px !important;
}
.alert-success {
    color: #4dbd74 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    position: absolute !important;
    top: 217px !important;
}