<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #loginForm="ngForm">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to LeafBox</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="email" name="email" class="form-control"[(ngModel)]="value.email" #email placeholder="Email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" [(ngModel)]="value.password"  #password placeholder="Password" required>
                  </div>
                  
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-success px-4" [disabled]="!loginForm.form.valid"  (click)="login()">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                    </div>
                  </div>
                </form>
               <label [class]="msgType">{{msg}}</label>
              </div>
            </div>
            <div class="card text-white bg-success py-5 d-md-down-none" style="width:44%">
              <img src="assets/leafbox.png" alt="LeafBox icon" style="height: 300px; width: 300px;">
              <!-- <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Contact System Admin.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
